<div ng-controller="ShiftsCtrl">
  <h1>Scheduling</h1>
  <div class='row'>
    <div class='span4' style='outline:1px solid black'>
      Members
      <ul>
        <li ng-repeat="member in members">
          {{member.name}}
        </li>
      </ul>
    </div>
    <div class='span4' style='outline:1px solid black'>
      Teams
      <ul>
        <li ng-repeat="team in teams">
          {{team.title}}
          <ol>
            <li ng-repeat="member in team">
              {{member.id}}
            </li>
          </ol>
        </li>
      </ul>
    </div>
    <div class='span4' style='outline:1px solid black'>
      Timeline
      <ul>
        <li ng-repeat="shift in shifts">
          {{shift.id}}
        </li>
      </ul>
    </div>
  </div>
</div>
